@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #0d0c22;
    --softBg:#2d2b42;
    --text: white;
    --textSoft:#e5e5e5;
    --btn:#3673fd
}

body {
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
}
.container{
    background-color: rebeccapurple;
    min-height: 100vh;
}